[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
numpy = "*"
scipy = "*"
torch = "*"
matplotlib = "*"
trimesh = "*"
# random = "*"
# enum = "*"
# plotly = "*"
networkx = "*"
pyglet = "*"
gdist = "*"

[requires]
python_version = "3.7"
